body {
  margin: 0;
}

main {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  transition: background-color 0.3s;
}

h1 {
  margin-left: 10px;
}

p {
  font-size: 1.5rem;
  margin-right: 25px;
  cursor: pointer;
}

.app.light {
  background-color: white;
  color: black;
}

.app.dark {
  background-color: black;
  color: white;
}
